$primaryColor: #eeffcc;
$headerFont: 'Jost', sans-serif;



body {
    background-color: $primaryColor;
    height: 100vh;
    width: 100vw;
}

.container {
        position: absolute;
        padding: 5vh;
        height: 50vh;
        margin: 0 auto;
        
    
    .headers {
        text-align: center;
        top: 5vh;
    }

}

#main-title {
    text-align: center;
    font-family: $headerFont;
    font-size: 59px;
}

